@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-10">
            <img class="img-fluid rounded mx-auto d-block" id="hero-picture" src="~/img/about.png" 
            alt="profile-bitmoji">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-10">
            <div class="mb-5 section bg-dark text-white p-3 rounded shadow-sm bg-opacity">
                <h2 class="mb-4">About Mary</h2>
                <p>
                    I love design and technology. I am passionate software engineer who enjoys problem solving and turning ideas into reality.
                </p>

                <p>
                    As an engineer, my goal is to help others solve problems in order to enhance people's lives through technology.
                    I've used technologies such as React, Node.js, and .NET to write efficient, reliable, and maintainable software solutions.
                    I seek to join a talented group of people and work on challenging problems as a team to deliver the best solutions possible.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-5">
            <div class="mb-5 section bg-dark text-white p-3 rounded shadow-sm bg-opacity">
                <h2 class="mb-4">Want to Know More?</h2>
                <p>If you would like to see more of my work, please visit my<a class="text-decoration-none" href="https://aritam.netlify.app/" target="_blank">portfolio site</a></p>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-5 section bg-dark text-white p-3 rounded shadow-sm bg-opacity">
                <h2 class="mb-4">Contact me</h2>
                <p>Email: <a class="text-decoration-none break-word" href="mailto:arita.ma@protonmail.com">arita
                .ma@protonmail.com</a></p>
                <p>Mobile: 612-707-6624</p>
            </div>
        </div>
    </div>
</div>